$main-font-family: 'Lato', sans-serif;
$presentation-color: #24292e;
$nav-link-color: #9b9ea0;
$first-nav-link-color: #fff;
$max-width: 1100px;
$presentation-h1-font-color: #fff;
$presentation-font-color: rgba(255,255,255,0.85);
$learn-more-border-color: #9b9ea0;
$sign-up-bg-color: #fff;
$sign-up-font-color: #24292e;
$presentation-buttons-width: 150px;
$alternate-font-color: rgba(153,153,153,0.6);
$titles-font-color: #323d47;
$desc-font-color: #757575;
$headers-font: 'Varela Round';
$test-drive-bg-color: #8ea6e6;
$test-drive-btn-font-color: #757575;
$icon-color-1: #000;
$icon-color-2: #5ea9ff;
$icon-color-3: #af93e7;
$icon-color-4: #ffbc06;
$icon-color-5: #ff4954;
$icon-color-6: #4fd868;
$header-h4-color: #fff;
