$main-font-family: 'Lato', sans-serif;
$presentation-color: #24292e;
$nav-link-color: #9b9ea0;
$first-nav-link-color: #fff;
$max-width: 1100px;
$presentation-h1-font-color: #fff;
$presentation-font-color: rgba(255,255,255,0.85);
$learn-more-border-color: #9b9ea0;
$sign-up-bg-color: #fff;
$sign-up-font-color: #24292e;
$presentation-buttons-width: 150px;